<!DOCTYPE html>
<html lang="pt-br"> 


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="css/bemestar.css">
</head>

<body>
    <header>
        <div class="topo">
            <h1 class="logo"></h1>

            <div class="menu">
           
                <a href="bemestar.html">Saúde</a>
                <a href="recomendacoes.html">Alimento</a>
                <a href="treinodia.html">Exercício</a>
        
        </div>    
            <div class="usuario">
                <img src="./img/usuario.png">
                <span>Usuário</span>
             </div>
        </div>
    </header>

    <div class="container-imagens">

        <div class="bloco-top">
            <div class="bloco-top-quadrado1">
                <img src="./img/saude.jpg" alt="" height="70%" width="90%">
                <p class="topicos">Saúde</p>
                <div class="leia-mais"><a href="#">Leia mais</a></div>
            </div>

            <div class="bloco-top-quadrado1">
                <img src="./img/alimento.jpg" alt="" height="70%" width="90%">
                <p class="topicos">Alimento</p>
                <div class="leia-mais"><a href="#">Leia mais</a></div>
            </div>

            <div class="bloco-top-quadrado1">
                <img src="./img/ansiedade.jpg" alt="" height="70%" width="90%">
                <p class="topicos">Ansiedade</p>
                <div class="leia-mais"><a href="#">Leia mais</a></div>
            </div>

        </div>
        
        <div class="bloco-bottom">
            <div class="bloco-top-quadrado1">
                <img src="./img/depressao.jpg" alt="" height="70%" width="90%">
                <p class="topicos">Depressão</p>
                <div class="leia-mais"><a href="#">Leia mais</a></div>
            </div>

            <div class="bloco-top-quadrado1">
                <img src="./img/sono.jpg" alt="" height="70%" width="90%">
                <p class="topicos">Sono</p>
                <div class="leia-mais"><a href="#">Leia mais</a></div>
            </div>

            <div class="bloco-top-quadrado1">
                <img src="./img/exercicio.jpg" alt="" height="70%" width="90%">
                <p class="topicos">Exercício</p>
                <div class="leia-mais"><a href="#">Leia mais</a></div>
            </div>

        </div>
    </div>

    <footer>Daily Solution © 2023 - Todos os Direitos Reservados</footer>

</body>

<!-- ARRUMAR A IMAGEM DO USUARIO NO HEADER -->
