*{
    padding:0;
    margin: 0; 
    box-sizing: border-box;
}

.bloco-top{
    margin-top: 3.5%;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    background-color: #21b122;
    height: 250px;
}


.bloco-top-quadrado1{
    background-color: #d9d9d9;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-radius: 5%
}

.topicos{
    font-size: 22px;
    font-weight: 500;
}

footer{
    color: rgb(218, 217, 217);
    background-color: #21b122;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 25px;
}

a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
    
}

a:hover{
    color: #ce2f2f;
}

.treino{
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4.2%;
}


.container-texto{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5% ;
}

.texto{
    width: 50%;
    height: 60px;
    background-color: #d9d9d9;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-input{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 3%;
}

.input{
    display: flex;
    width: 300px;
    height: 24px;
    border: 1px solid;
}
.input button{
    background-color: transparent;
}
.api input{
    border: none;
    background-color: transparent;
    width: 20vh;
    height: 3.2vh;
}
.blocoReceitas{
    margin: 5% 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blocoReceitas button{
    background-color: #fff;
    height: 5vh;
    font-size: medium;
    width: 20vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.blocoReceitas button:hover{
    background-color: #d9d9d9;
}
.blocoReceitas input::placeholder{
    font-family: Arial, Helvetica, sans-serif;
}
.cadastroReceita{
    display: flex;
    background-color: #21b122;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid #000;
    width: 70%;
    height: 90%;
    padding: 1%;
}
.labels input{
    padding: 2%;
}
.cadastroReceita h3{
    color: #fff;
    font-size: x-large;
}
.title{
    margin-top: 2%;
}
#tituloTxt{
    font-size: large;
    text-transform: capitalize;
    margin: 1% 0;
}
.cadastroReceita input{
    width: 80%;
    height: 60%;
    margin: 2%;
    margin-left: 0;
    font-size: larger;
    border:  double black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cadastroReceita input::placeholder{
    font-size: smaller;
}
.inputs{
    display: flex;
    width: 100%;
    margin: 1% 0;
}
textarea{
    height: 200%;
    width: 110vh;
    margin: 2% 0;
    padding: 1%;
}
.cadastroReceita span,h3{
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container-api{
    display: flex;
    align-items: center;
    justify-content: center;
}

.api{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 3%;
    background-color: #dfdfdf;
    max-width: 100%;
    height: 500px;
    width: 40%;
    overflow: auto;    
}

.api h2{
    margin: 3% 0;
    align-self: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ingredientes{
    margin: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
    font-size:large;
}
.comoFazer{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: larger;
    margin: 5% 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#fazer{
    display: flex;
    padding: 1%;
}
.aviso{
    width: 100%;
    text-shadow: 1px 0.1px black;
    font-size: x-large;
    align-self: first baseline;
    justify-self: first baseline;
    color: #dfdfdf;
}