
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.botao{
    height: 3vh;
    width: 7vh;
    background-color:#C7C5C5; 
    padding:0 15%;
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    transition: 800ms;
}
button{
    border: none;
}

.botao:hover{
    background-color: #2966bd; 
    color: #fff;
}

.container-azul{
    height: 55vh;
    margin: 10vh 0; 
    overflow: block;
    display: flex;
    padding: 5%;
    justify-content: space-between;
    align-items: center;
    background-color: #2966bd;
    border-bottom: 3px solid black;
}
.container-azul h1{
    color: #fff;
    position: absolute;
    animation-name: andar;
    animation-duration: 3s;
    animation-direction: normal;
    animation-iteration-count: infinite;
   
}
.container-azul img{
    width: 100%;
    height: 100%;
}   

.container-texto{
    padding: 3%;
    font-size: 20px;
}
h2{
    margin-bottom: 2%;
    font-size: 150%;
}
.hints{
    overflow: hidden;   
}

.hints h2{
    margin-left: 3%;
    font-size: 170%;
}
.textoAjuda{
    height: 100%;
    background-color: #b4b4b4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 20%;
    color: #fff;
    font-size: xx-large;
    width: 20%;
}
.some{
    height: 0;
    background-color: transparent;

    transition: 700ms;
    transform: translateY(-250px) scale(1%);
}
.aparece{
    height: 100;
    opacity: 1;
    transition: 700ms;
    transform: scale(100%);
}

.carousel{
     display: flex;
     justify-content: space-between;
}

.boxHints{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     margin-top: -3%;
}
.box{
     height: 80vh;
     width: 30%;
     margin: 10vh;
     background-color: #2966bd;
     display: flex;
     flex-direction: column;
     align-items: center;
     border-top-left-radius: 8%;
    border-bottom-right-radius: 9%;
    border: 1px solid ;
}
.box img{
    height:60%;
    width: 100%;
    border-top-left-radius: 8%;
    border-bottom: 1px solid;
}
.textBox{
    font-size: 120%;
    padding: 5%;
    color: #fff;
}
.textBox p{
    color: #b4b4b4;
    text-transform: capitalize;
}
.nao{
     transform:translate(500vh) scale(0%);
     position: absolute;
     transition: 1.5s;
}
.sim{
     display: flex;
     justify-content: center;
     transition: 2s;
}
.textoMid{
    width: 150vh;
}
.nomeUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}
.nomeUser h2{
    color: #2966bd;
}
.treinosUser{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    border-top:  2px dotted black;
}
.treinosUser h3{
    color: red;
    margin-left: 3%;
    font-size: x-large;
}

    