
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.menu{
    display: flex;
}
.menu a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 100%;
    padding: 2%;
    margin: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #b4b4b4;
    width: 100px;
    font-weight:bold;
    border-radius: 10px;
}
.menu a:hover{
    color:  #2966bd;
}

.topo{
    background-color: #d9d9d9;
    height: 140px;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.topo img{
    width: 15vh;
    height: 15vh;
}

.logo{
    height: 100px;
    width: 100px;
    background: url(../img/logo.png) no-repeat center;
    background-size: 120px;
    padding-left: 250px;
    float: left;
}
.form{
    display: flex;
    align-items: center;  
    flex-direction: column;
}
.botao{
    height: 3vh;
    width: 7vh;
    background-color:#C7C5C5; 
    padding:0 15%;
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    transition: 800ms;
}
button{
    border: none;
}

.botao:hover{
    background-color: #2966bd; 
    color: #fff;
}
.container-mid{
    height: 500px;
    background-color: #ffffff;
}
.container-azul{
    height: 55vh;
    margin: 10vh 0; 
    overflow: block;
    display: flex;
    padding: 5%;
    justify-content: space-between;
    align-items: center;
    background-color: #2966bd;
    border-bottom: 3px solid black;
}
.container-azul h1{
    color: #fff;
    position: absolute;
    animation-name: andar;
    animation-duration: 3s;
    animation-direction: normal;
    animation-iteration-count: infinite;
   
}
.container-azul img{
    width: 100%;
    height: 100%;
}   

.container-texto{
    padding: 3%;
    font-size: 20px;
}

footer{
    color: rgb(218, 217, 217);
    background-color: #2966bd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 25px;
}
h2{
    margin-bottom: 2%;
    font-size: 150%;
}
.textoAjuda{
    height: 100%;
    background-color: #b4b4b4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 20%;
    color: #fff;
    font-size: xx-large;
    width: 20%;
}
.carousel{
     display: flex;
     justify-content: space-around;
}
.boxHints{
     display: flex;
     overflow: hidden;
     justify-content: center;
     align-items: center;
     width: 100%;
}
.box{
     height: 55vh;
     width: 50vh;
     margin: 10vh;
     background-color: #b4b4b4;
     display: flex;
     flex-direction: column;
     align-items: center;
     
}
.nao{

     transform:translate(500vh) scale(0%);
     position: absolute;
     transition: 1.5s;
}
.sim{
     display: flex;
     justify-content: center;
     transition: 2s;
}

.botoes{
    display: flex;
    justify-content: space-between;
}
.foco{
    display: flex;
    flex-direction: column;
    width: 20vh;
    gap: 10%;
    margin: 2% 0;  
}
.campo{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5%;    
}
.textoMid{
    width: 150vh;
}

.some{
    height: 0;
    opacity: 0;
    transition:1s;
    transform: translateY(-300px) scale(1%);
}
.aparece{
    height: 100;
    opacity: 1;
    transition: 1s;
    transform: scale(100%);
}
.add{
    opacity: 1;
    position: absolute;
}
.a{
    opacity: 0;
}
.config{
    height: 10%;
    width: 20%;
}
.config1{
    display: flex;
    justify-content: flex-end;
}
.nomeUser{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nomeUser h2{
    color: #2966bd;
}
.nomeUser p{
    font-size: large;
}
    